<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cardwolla</title>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<!-- Custom Google Web Font -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

	<!-- Add custom CSS here -->
	<link href="/styles/landing-page.css" rel="stylesheet">
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Cardwolla</a>
			</div>
		</div>
	</nav>
	
	<div class="card-content">
		{{#if cards}}
			<h1>Link another card</h1>
		{{else}}
			<h1>You Haven't Linked any Cards</h1>
			<p>Link your first card.</p><br />
		{{/if}}
		
			<form class="form-inline" role="form">
				<div class="form-group">
					<label class="inline-lbl" for="card_number">Card Number</label>
					<input type="text" class="form-control input-lg" id="card_number" />
				</div>
				<div class="form-group">
					<label class="inline-lbl" for="exp_month">Exp Month</label>
					<select class="form-control input-lg" id="exp_month">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
				</div>
				<div class="form-group">
					<label class="inline-lbl" for="exp_year">Exp Year</label>
					<select class="form-control input-lg" id="exp_year">
						<option>2014</option>
						<option>2015</option>
						<option>2016</option>
						<option>2017</option>
						<option>2018</option>
						<option>2019</option>
						<option>2020</option>
					</select>
				</div><br /><br />
				<button type="submit" class="btn btn-primary btn-lg">Add Card</button>
			</form>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright text-muted small">Copyright &copy; Cardwolla 2014. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-48092075-1', 'cardwolla.com');
	  ga('send', 'pageview');
	
	</script>
</body>

</html>
