<html>
<head>
<title>An uh oh happened.</title>
<style>
body {
	text-align: center;
}
pre {
	text-align: left;
}
</style>
</head>
<body>

<h1>We may have gotten a magnet too close to your card...</h1>
<img src="/img/magnet.jpg" />
<h2>{{title}}</h2>
<p>{{message}}</p>

<pre>
{{stack}}
</pre>

</body>
</html>