<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cardwolla</title>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.1/jquery.payment.js"></script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.3/spin.min.js"></script>
	
	<!-- Custom Google Web Font -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

	<!-- Add custom CSS here -->
	<link href="/styles/landing-page.css" rel="stylesheet">
	
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	
	<script type="text/javascript">
	  // This identifies your website in the createToken call below
	  Stripe.setPublishableKey('pk_test_82isnbNxDUts6rOEVq6kJj8S');
	  // ...
	</script>
	
	<script>
	$(function() {
		var network = 'credit';
	
		var checkIt = function() {
			var val = $('#card_number').val().replace(/\s/g, '');
			if(val.length == 16) {
				$.get('/api/hasdwolla', {
					card: val
				}, function(response) {
					if(response.hasdwolla) {
						$('#paywithcc').hide();
						$('#paywithdwolla').show()
						
						network = 'dwolla';
					} else {
						$('#paywithcc').show();
						$('#paywithdwolla').hide();
						
						network = 'credit';
					}
				}, 'JSON');
			} else {
				$('#paywithcc').show();
				$('#paywithdwolla').hide();
				
				network = 'credit';
			}
		};
	
		$('#card_number').keyup(checkIt);
		$('#card_number').change(checkIt);
		
		var listenIfNothingFocused = function() {
			if(!$('#card_number').is(":focus") && !$('#card_exp').is(":focus")) {
				$('#scanner_input').focus();
			}
		};
		
		setInterval(listenIfNothingFocused, 500);
		
		$('#scanner_form').submit(function(e) {
			e.preventDefault();
			
			var raw = $('#scanner_input').val();
			$('#scanner_input').val('');
			
			var cardParts = raw.split('=');
			
			var card_number = cardParts[0];
			var exp_month = cardParts[1].substring(2, 4);
			var exp_year = '20' + cardParts[1].substring(0, 2);
			
			$('#card_number').val(card_number);
			$('#card_exp').val(exp_month + '/' + exp_year);
			
			checkIt();
		});
		
		$('#scanner_input').focus(function() {
			$(this).val('');
		});
		
		$('#scanner_input').focus();
		
		$('#card_number').formatCardNumber();
		$('#card_exp').formatCardExpiry();
		
		var submitting = false;
		$('#submit_payment').submit(function(e) {
			e.preventDefault();
			
			if(submitting) return;
			submitting = true;
			
			$('#paywithcc').hide();
			$('#paywithdwolla').hide();
			
			var card_number = $('#card_number').val().replace(/\s+/g,'');
			var expiration = $('#card_exp').val().replace(/\s+/g,'').split('/');
			
			if(expiration[1].length == 2) expiration[1] = '20' + expiration[1];
			
			if(network == 'credit') {
				Stripe.card.createToken({
					number: card_number,
					exp_month: expiration[0],
					exp_year: expiration[1]
				}, function(status, response) {
					if (response.error) {
						$('#paywithcc').show();
						submitting = false;
						alert('Error: ' + response.error.message);
					} else {
						$.post('/api/transact/credit', {
							stripe_token: response.id
						}, function(response) {
							if(response.error) {
								$('#paywithcc').show();
								submitting = false;
								alert('Error: ' + JSON.stringify(response.error));
							} else {
								// show success screen
								$('#theForm').hide();
								$('#successDwolla').show();
							}
						}, 'JSON');
					}
				});
			} else if(network == 'dwolla') {
				console.log('Pay with Dwolla');
			}
		});
	});
	</script>
	
	<style>
		html, body { 
			background: url(/img/constitution.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height: 100%;
			width: 100%;
		}
		
		#theForm {
			width: 400px;
			margin: 30px auto 15px;
			border: 1px solid #CCC;
			padding: 0px 30px 20px 30px;
			background-color: white;
		}
		
		#successCredit, #successDwolla {
			width: 400px;
			margin: 30px auto 15px;
			border: 1px solid #CCC;
			padding: 0px 30px 20px 30px;
			background-color: #dff0d8;
			
			display: none;
		}
		
		#theFooter {
			width: 400px;
			margin: 0px auto;
			border: 1px solid #CCC;
			padding: 10px 30px;
			background-color: white;
			text-align: center;
		}
				
		form {
			text-align: center;
		}
		
		#card_number {
			width: 210px;
		}
		
		#cvv {
			width: 65px;
		}
		
		#paywithdwolla {
			display: none;
		}
	</style>
</head>
<body>

	<div id="theForm">
		<h1>Cardwolla Demo</h1>
		<p>
			First, try paying a dollar with your credit card. The money will be
			charged via Stripe.
		</p>
		<p>
			Then sign up at <a href="/">cardwolla.com</a>.
			and link your credit card to your Dwolla account.
		</p>
		<p>
			When you come back
			to this page and enter your card you will be charged through Dwolla
			instead.
		</p>
		
		<hr />
		
		
			<form class="form-inline" role="form" id="submit_payment" autocomplete="on" pattern="\d*">
				<div class="form-group">
					<label class="inline-lbl control-label" for="card_number">Card Number</label>
					<input type="text" class="form-control input-lg" id="card_number" placeholder="1111 2222 3333 4444" data-stripe="number" />
				</div>
				<div class="form-group">
					<label class="inline-lbl control-label" for="exp">Expiration</label>
					<input type="text" class="form-control input-lg" id="card_exp" placeholder="12/2020" />
				</div>
				<br /><br />
				<button type="submit" id="paywithcc" class="btn btn-primary btn-lg">Pay $1 with Credit Card</button>
				<button type="submit" id="paywithdwolla" class="btn btn-warning btn-lg">Pay $1 with Dwolla</button>
			</form>
	</div>
		
	<div id="successCredit">
		<h1>Cardwolla Demo</h1>
		<p>
			Congratulations! You were charged $1 on your
			credit card.
		</p>
		<p>
			Now sign up at <a href="/">cardwolla.com</a>.
			and link your credit card to your Dwolla account
			then come back here and repeat the process.
		</p>
	</div>
	
	<div id="successDwolla">
		<h1>Cardwolla Demo</h1>
		<p>
			Congratulations! You were charged $1 on your
			Dwolla account.
		</p>
		<p>
			Your account is properly setup and you may link
			as many of your credit cards as you like.
		</p>
	</div>
		
	<div id="theFooter">
		Created by Brad Dwyer for PennApps 2014
	</div>


	<form id="scanner_form" style="position: absolute; top: -1000px;"><input type="text" id="scanner_input" /></form>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-48092075-1', 'cardwolla.com');
	  ga('send', 'pageview');
	
	</script>
</body>
</html>