body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	/*font-size: 14px;*/
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	
	background: rgb(255,127,4); /* Old browsers */
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
	width: 100%;
	padding-top: 10px;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 10px 0 30px;
}

p.copyright {
	margin: 15px 0 0;
}

.btn-lg {
	font-size: 25px;
}

.card-content {
	margin: 50px 0 10px 0;
	padding: 10px;
	text-align: center;
}

.pin-setup {
	margin: 50px 0 10px 0;
	padding: 10px;
	text-align: center;
}

.inline-lbl {
	display: block;
	text-align: left;
	opacity: 0.7;
}

#card_exp {
	width: 120px;
}

.card {
	background: rgb(255,159,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,159,63,1) 0%, rgba(255,149,28,1) 48%, rgba(255,124,0,1) 53%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,159,63,1)), color-stop(48%,rgba(255,149,28,1)), color-stop(53%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,159,63,1) 0%,rgba(255,149,28,1) 48%,rgba(255,124,0,1) 53%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,159,63,1) 0%,rgba(255,149,28,1) 48%,rgba(255,124,0,1) 53%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,159,63,1) 0%,rgba(255,149,28,1) 48%,rgba(255,124,0,1) 53%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,159,63,1) 0%,rgba(255,149,28,1) 48%,rgba(255,124,0,1) 53%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f3f', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */


	width: 318px;
	height: 200px;
	border-radius: 15px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	
	position: relative;
	display: inline-block;
	margin: 10px;
	
	font-size: 20px;
	
	color: white;
	text-shadow: 0px 1px black;
}

.card_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/img/card-bg.png);
	background-size: 100% 100%;
}

.card_number {
	font-size: 40px;
	position: absolute;
	top: 85px;
	white-space: nowrap;
	width: 100%;
}

.card_exp_text {
	font-size: 12px;
	position: absolute;
	left: 15px;
	bottom: 35px;
}

.card_expiration {
	position: absolute;
	bottom: 10px;
	left: 15px;
}

.card_type {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.card_linked {
	position: absolute;
	top: 10px;
	width: 100%;
	font-size: 14px;
}

.card_delete {
	background-color: white;
	padding: 3px 2px 3px 3px;
	border-radius: 50px;
	color: rgb(255,159,63);
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	height: 25px;
	width: 25px;
	font-size: 14px;
	text-shadow: none;
}

.loading .card-content {
	display: none;
}

.loadbar {
	display: none;
	width: 100%;
    text-align: center;
    height: 500px;
}

.loading .loadbar {
	display: block;
}

#spin {
	display: inline-block;
}

#scan_card, #email_container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.sign-in-text {
	margin-top: 5px;
	text-transform: uppercase;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.sign-in-text a {
	color: white;
}

#yt-container {
	position: relative;
	width: 50%;		/* desired width */
}

#yt-container:before {
	content: "";
	display: block;
	padding-top: 75%; 	/* initial ratio of 1:1*/
}

#yt-content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width:90%;
	height:70%;
	margin: auto;
}